.header {
	background: #4C4C4C;
	color: #fff;
}

.header li {
	display: inline-block;
}

.header li a {
	color: #ccc;
}

.header li a:hover {
	color: #4c4c4c;
}

.aside {
	height: 100%;
	width: 100%;
	background: #4c4c4c;
	position: absolute;
	left: 0;
	top: 0;
}

/*modal window styles*/

.modal-backdrop {
	position: relative;
}

.modal-open .modal {
	width: 190px;
	text-align: center;
	left: auto;
	margin: 12px;
}

.modal-open .modal-body {

	padding: 25px;
	padding-top: 20px;
}

.modal-open .modal p {
	display: inline;
	vertical-align: middle;
	margin-top: -4px;
}